$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$menu-offset: 240px;

// flat pallete
$flat-blue: #2C82C9;
$flat-green: #2CC990;
$flat-yellow: #EEE657;
$flat-orange: #FCB941;
$flat-red: #FC6042;
// end flat pallete

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//extenders
.transitionAll {
  transition: all 0.2s ease-in-out 0s;
}
//end extenders

.browsehappy {
  margin: 0.2em 0;
  color: #000;
  padding: 0.2em 0;
}

html {
  overflow: hidden;
}

ul, li {
  list-style: none;
}

/* Space out content a bit */
body {
  font-family: Oswald;
  font-weight: 300;
  font-size: 35px;
}

.section-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 32px;

  li {
    display: block;
    width: 16px;
    height: 16px;
    margin: 16px;
    position: relative;  
  }

  span {
    position: absolute;
    left: 50%;
    right: 50%;
    display: block;
    border-radius: 50%;
    background: #000;
    height: 10px;
    width: 10px;
    margin: -5px 0px 0px -5px;
    @extend .transitionAll;
  }

  span:hover { 
    @extend .point-active;   
  }

  span.point-active {
    height: 16px;
    width: 16px;
    margin: -8px 0px 0px -8px;     
  }

}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
header {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: $flat-blue;
  z-index: 11;
  box-sizing: border-box;

  .nav > li > a {
      padding: 50px 15px;
      color: $flat-orange;
  }

  .active {
    a {
      color: $flat-blue!important;
      background: $flat-orange!important;
    }
  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.page-wrap {
  height: 100%;
  position: relative;
  transform: translateY(0px);
  transition: all 700ms ease 0s;  
}

.social {
  list-style: none;

  li {
    float: left;
  }
}

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
  
  h1 {
    text-align: left;
    font-weight: 300;
    font-size: 86px;
    line-height: 1.5;
    letter-spacing: -1.5px;

    b {
      font-weight: 300;
      color: $flat-blue;
    }

    .first-line {
      display: block;
    }
  }

  p {
    margin: 75px 0;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  header {
    width: $menu-offset;
  }

  main {
    padding-left: $menu-offset;
  }

  .container {
    min-width: 730px;
    max-width: 1280px;
  }

  /* Remove the padding we set earlier */
  header,
  .marketing,
  footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
